# Folders
dist
node_modules

# git
.github
.git
.gitignore

# Unusefull
netlify.toml
README.md

# Docker config
.dockerignore
Dockerfile
docker-compose.yaml
docker-compose_dev.yaml
docker-compose_prod.yaml